/* FILTER */
.acrit-filter {
	-webkit-user-select: none;
	   -moz-user-select: none;
	     -ms-user-select:none;
	         user-select:none;
}
.acrit-filter * {
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
	        box-sizing:border-box;
}
.acrit-filter a {
	color:#2675d7;
}
[data-role="item"] {
	background-color:#f9fafb;
	border:1px solid silver;
	margin:5px 0;
	padding:5px 35px 8px 10px;
	position:relative;
}
[data-role="item"]:hover {
	border-color:#999;
}
[data-role="group"] {
	background-color:#fff;
	border:1px solid silver;
	margin:5px 0;
	padding:5px 40px;
	position:relative;
}
[data-role="group"]:hover {
	border-color:#999;
}
[data-role="group"] [data-role="group"] {
	background-color:#edf5f6;
}
[data-role="group"] [data-role="group"] [data-role="group"] {
	background-color:#ddeaec;
}
[data-role="group"] [data-role="group"] [data-role="group"] [data-role="group"] {
	background-color:#fff;
}
[data-role="group-logic"] {
	display:inline-block;
	margin-right:5px;
	padding:5px 0;
	vertical-align:middle;
}
[data-role="group-controls"] {
	display:inline-block;
	margin-left:10px;
	vertical-align:middle;
}
[data-role="group-controls"]:before {
	border-left:1px solid silver;
	content:'';
	height:18px;
	display:inline-block;
	margin-right:10px;
	vertical-align:middle;
	width:0;
}
[data-role="delete-item"],
[data-role="delete-group"] {
	font-size:20px;
	height:24px;
	line-height:24px;
	position:absolute;
	right:4px;
	text-align:center;
	text-decoration:none!important;
	top:2px;
	width:24px;
}
[data-role="delete-item"]:hover,
[data-role="delete-group"]:hover {
	background-color:#ddd;
}
/**/
a[data-role="add-item"],
a[data-role="add-group"] {
	background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA5UlEQVR42qWSSQrCQBBFa2lyFBERh1uKQUgkWXgWEQ9hiCvROzhs2oq8gjY22mLBW6TS/Wv4LfIeY6VSDsodGqVURvIhUmWtuC+04kno8o4DF2VOJz2YKAvlypltV8QqH5X+hy4HyomzpT+zVe5etra7Ijfyz51UfMwDFUMCbWTkV8K2HZ3ECkzJ14JNjmVJhAu2dMco/ws0fEx+GGFGfi/Y4fA5VmBJPhescDySQYTA0LNxaEmz8hQQ6V4+c7bwfyQ8T+skw6oUZrRtlTfe0l9EqggXitBlP0a8sJqKN7ad+zNbPABix3OeZpVSEwAAAABJRU5ErkJggg==");
	background-position:6px center;
	background-repeat:no-repeat;
	color:#2675d7;
	display:inline-block;
	line-height:16px;
	margin-right:5px;
	padding:5px 8px 5px 28px;
	position:relative;
	text-decoration:none!important;
}
a[data-role="add-item"]:hover:before,
a[data-role="add-group"]:hover:before {
	border:1px solid #999;
	content:'';
	height:100%;
	left:0;
	position:absolute;
	top:0;
	width:100%;
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
	        box-sizing:border-box;
}
/**/
a[data-entity] {
	border-bottom:1px dashed #2675d7;
	line-height:100%;
	margin-right:5px;
	text-decoration:none!important;
}
[data-iblock-type] a[data-role="select-field"] {
	font-weight:bold;
}
[data-iblock-type="offers"] a[data-entity] {
	border-bottom:1px dashed #379220;
	color:#379220;
}
a[data-entity]:hover {
	border-bottom:0;
}

/* POPUP */
.acrit-modal-bg, .acrit-modal, .acrit-modal * {
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
	        box-sizing:border-box;
}
.acrit-modal-bg { 
	background:#000;
	background:rgba(0,0,0,0.5);
	display:none;
	height:100%;
	left:0; 
	position:fixed; 
	top:0;
	width:100%;
	z-index:1000;
}
.acrit-modal {
	background:#eee;
	font:normal 13px/15px "Arial", "Helvetica", sans-serif;
	left:50%;
	margin-left:-260px;
	position:absolute;
	top:50px;
	visibility:hidden;
	width:520px;
	z-index:1001;
	-webkit-border-radius:5px;
	   -moz-border-radius:5px;
	        border-radius:5px;
	-webkit-box-shadow:0 0 10px rgba(0,0,0,0.4);
	   -moz-box-shadow:0 0 10px rgba(0,0,0,0.4);
	        box-shadow:0 0 10px rgba(0,0,0,0.4);
}
.acrit-modal .close {
	color:#aaa;
	cursor:pointer;
	font-size:22px;
	font-weight:bold;
	line-height:0.5;
	position:absolute;
	right:13px;
	top:13px;
	-webkit-text-shadow:0 -1px 1px rbga(0,0,0,0.6);
	   -moz-text-shadow:0 -1px 1px rbga(0,0,0,0.6);
	        text-shadow:0 -1px 1px rbga(0,0,0,0.6);
}
.acrit-modal .close:hover {
	color:red;
}
.acrit-modal .header {
	color:red;
	font-size:20px;
	padding:30px 30px 20px;
}

/* content */
.acrit-modal .content {
	padding:0 30px 34px;
}
.acrit-modal .content input {
	outline:0;
}
.acrit-modal .content select {
	outline:0;
}
.acrit-modal .content textarea {
	outline:0;
}


/* General */
.acrit-filter .hidden, .acrit-modal .hidden {
	display:none!important;
}
















